
@import "_common";

* {
	box-sizing: border-box;
}

body,html {
	margin: 0;
	font-size: 90%;
}
.header_video_container {
	background-color: #111;
	position: relative;
	width: 100%;
	border-bottom: 1px solid $bdc;
	// 800 * 450
	// 711 * 400
}
.header_video_container_inner {
	//width: $video_width;
	//height: 400px;
	//overflow: hidden;
	margin: auto;
	@include fb(center);
	&>div {
		margin: 0 20px;
	}

}
.video_container {
	position: relative;
}
#video {
	//width: 711px;
	height: 350px;
	//opacity: .3;
}

.video_side {
	width: 210px;
	flex-glow: 1;
	.singer_video_container {
		position: relative;
		/* bottom: 0;
		left: calc( 50% - 75px ); */
		//border: 1px solid #f00;
		//box-sizing: content-box;
		.singer_video_raduis {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			overflow: hidden;
			position: relative;
			left: 0;
			top: 0;
		}
		#singer_video {
			height: 100%;
			transform: scale(-1, 1);
		}
		#singer_video {
			background-color: #000;
			z-index: 2;
			position: relative;
		}
	}
	
	.video_controls {
		padding: 10px 0 0px;
		/* position: absolute;
		bottom: 0;
		left: 0;
		width: 100%; */
		//text-shadow: 0 0 2px #000;
		//background-color: rgba(#fff, .1);
		.container {
			@include fb(space-between);
			&>* {
			}
		}
		.circle_btn {
			margin-top: 10px;
		}
	}
}

.singer_analyser {
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #666;
	top: 0;
	left: 0;
	z-index: 1;
	animation: amination_analyser 1s infinite linear;
}



@keyframes amination_analyser {
	0% {opacity: .2;}
	50% {opacity: 1;}
	100% {opacity: .2;}
}

.btn_play_pause {
	position: absolute;
	top: 50%;
	left: 50%;
	border: none;
	background-color: transparent;
	margin: -33px 0 0 -33px;
	opacity: .6;
	.fa {
		font-size: 66px;
		color: white;
	}
}
#ui_pause_only {
	display: none;
}
.playing {
	#ui_pause_only {display: block;}
	#ui_play_only {display: none;}
}
.song_title {
	padding: 0 2em;
	font-weight: bold;
	color :#fff;
	width: 200px;
	&::before {
		content: "楽曲名: "
	}
}
#ui_vo_mute {
	span {
		background-color: darken($pink, 10%);
		width: 45px;
		height: 45px;
		font-size: 20px;
	}
	small {
		&::after {
			content: "ボーカルをミュート";
			font-size: 80%;
		}
	}
}
.muted_vo {
	#ui_vo_mute {
		span {
			background-color: #666;
			&::after {
				content: "";
				width: 45px;
				height: 3px;
				transform: rotate(-45deg);
				display: block;
				background-color: #fff;
				position: absolute;
			}
		}
		small {
			&::after {
				content: "ボーカルも再生";
			}
		}
	}
}
.circle_btn {
	outline: none;
	padding: 0;
	background-color: transparent;
	border: none;
	text-align: center;
	color: $rec_btn;
	text-align: center;
	cursor: pointer;
	/* position: absolute;
	top: -47px;
	left: calc(50% - 4em); */
	display: block;
	transition: .2s;
	@include fb(center);
	span {
		width: 55px;
		height: 55px;
		border-radius: 50%;
		background-color: $rec_btn;
		font-size: 25px;
		//border: 2px solid #fff;
		color: white;
		@include fb(center);
	}
	small {
		text-align: center;
		font-size: 16px;
		margin-left: 10px;
		line-height: 1;
		color: #fff;
		font-weight: bold;
	}
	&:hover {
		transform: scale(1.06);
	}
}
.btn_vo_mute_inner {
	vertical-align: top;
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	border: 2px solid #fff;
	border-radius: 16px;
	padding: .2rem 1.2rem;
	color: #fff;
	input {
		margin-right: 5px;
		position: relative;
		top: -2px;
	}
	.fa {
		font-size: 18px;
		margin-right: 5px;
		position: relative;
		top: 2px;
	}
}
.rec_status_text {
	font-size: 70%;
	transform: scale(1);
	color: red;
	position: absolute;
	z-index: 3;
	bottom: 20px;
	left: 0;
	text-align: center;
	width: 150px;
	font-weight: bold;
	line-height: 1;
	vertical-align: middle;
	animation: switchtext 2s infinite;
	display: none;
	span {
		border: 2px solid red;
		padding: 4px 7px;
		background-color: rgba(#000, .8);
	}
	i {
		margin-right: 4px;
		font-style: normal;
	}
}
@keyframes switchtext {
 0% { opacity: 1.0; }
 79% {  opacity: 1.0; }
 80% {  opacity: 0; }
 100% { opacity: 0; }
}

#ui_rec_stop {
	/*opacity: 0;
	width: 0;
	height: 0;
	transform: scale(0); */
	display: none;
}
.recording {
	#ui_rec_stop {
		display: flex;
		/* opacity: 1;
		width: auto;
		height: auto;
		transform: scale(1); */
	}
	#ui_rec_start {
		display: none;
		/* opacity: 0;
		width: 0;
		height: 0;
		transform: scale(0); */
	}
	.rec_status_text {
		display: block;
	}
	.singer_analyser {
		background-color: #f00;
	}
}
.overlay_playback {
	position: fixed;
	text-align: center;
	background-color: rgba(#fff, .95);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@include fb(center);
	transition: .2s;
	opacity: 0;
	z-index: -1;
	.overlay_playback_inner {
		width: 60%;
	}
	#confirm_playBackVideo {
		width: 400px;
		border-radius: 4px;
		margin-bottom: 1rem;
		border: 1px solid $bdc;
		overflow: hidden;
	}
	.post_container {
		@include fb(center, stretch);
		.btn {
			margin: 0 .5rem;
		}
	}
	#post_message {
		width: 400px;
		height: 150px;
		border: 1px solid $bdc;
		border-radius: 4px;
		vertical-align: bottom;
		margin-bottom: 1rem;
	}
}
.playbacking {
	.overlay_playback {
		opacity: 1;
		z-index: 3;
	}
}

/*
content
--------------------------------------------
*/

.content {
	/* color: #312012;
	border-radius: 4px;
	background-color: #FFF6EC;
	padding: 1rem 2rem;
	font-size: 80%; */
	margin-bottom: 1rem;
}

main {

	.main_tit {
		margin: 0 0 1rem;
		font-size: 200%;
		text-align: center;
		small {
			display: block;
			font-size: 80%;
		}
	}
	&>section {
		margin: 1rem 0 0;
		h2 {
			margin-top: 0;
			text-align: center;
		}
	}
}

.member {
	.from_member {
		@include fb(flex-start);
		margin-bottom: 0.2rem;
	}
	figure {
		margin: 0;
		text-align: center;
		width: 100px;
		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
		figcaption {
			font-size: x-small;
			text-align: center;
		}
	}
	.members_voice {
		color: #312012;
		border-radius: 4px;
		background-color: #efefef;
		padding: .8rem 1.4rem;
	}
}
.greeting {
}
.members {
	//background-color: #FFF9FC;
}
.aboutus {
	//background-color: #FCFFDF;
}

footer {
	padding: 2rem 0;
}

@media screen and (max-width: 480px) {
	.header_video_container {
		background-color: transparent;
	}
	.header_video_container_inner {
		height: 180px;
		overflow: visible;
	}
	.video_controls {
		/* bottom: initial;
		top: 0;
		left: 0; */
		.container {
			@include fb(flex-start, flex-start);
			flex-direction: column;
		}
	}
	.singer_video_container {
		top: initial;
		right: initial;
		bottom: -50px;
		left: calc(50% - 50px);
		#singer_video, .singer_analyser {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: #000;
			z-index: 2;
			position: relative;
		}
		.singer_analyser {
			position: absolute;
			background-color: #f00;
			top: 0;
			left: 0;
			z-index: 1;
			animation: amination_analyser 1s infinite linear;
		}
	}
	.rec_btn {
		top: 20px;
		left: initial;
		right: 10px;
		small {
			display: none;
		}
	}
	.container {
		width: 100%;
	}
	main {
		&>section {
			padding: 1rem 0;
			&.greeting {
				padding-top: 3rem;
			}
			.container {
				padding: 0 1rem;
				h2 {
					margin-top: 0;
				}
				&.member {
					.from_member {
						flex-wrap: nowrap;
						figure {
							width: 80px;
						}
						.members_voice {
							width: calc(100% - 80px);
						}
					}
				}
			}

		}
	}
	
	.song_title {
		padding: 0;
		font-size: x-small;
	}
	.btn_vo_mute {
		.btn_vo_mute_inner {
			margin-top: 5px;
			text-align: center;
			padding: 5px;
			border-radius: 2px;
			border: none;
			background-color: $pink;
				line-height: 1;
			input {
				margin: 0;
			}
			span {
				display: block;
			}
		}
		width: 100px;
		.fa {
			display: none;
		}
	}
	footer {
		padding: 1rem;
	}
}














