@charset "UTF-8";
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative; }

/* h1,h2,h3,h4,h5,h6{
	font-size: 100%;
} */
img, video {
  vertical-align: middle; }

body {
  background-color: #fff;
  color: #333;
  font-size: 100%;
  line-height: 1.5;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO"; }

.container {
  width: 711px;
  margin: auto; }

button, input {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  font-size: 100%; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.fwb {
  font-weight: bold; }

.m0 {
  margin: 0; }

.m05r {
  margin: 0.5rem; }

.m1r {
  margin: 1rem; }

.m2r {
  margin: 2rem; }

.m3r {
  margin: 3rem; }

.m4r {
  margin: 4em; }

.mt0 {
  margin-top: 0; }

.mt05r {
  margin-top: 0.5rem; }

.mt1r {
  margin-top: 1rem; }

.mt2r {
  margin-top: 2rem; }

.mt3r {
  margin-top: 3rem; }

.mt4r {
  margin-top: 4rem; }

.ml0 {
  margin-left: 0; }

.ml05r {
  margin-left: 0.5rem; }

.ml1r {
  margin-left: 1rem; }

.ml2r {
  margin-left: 2rem; }

.ml3r {
  margin-left: 3rem; }

.ml4r {
  margin-left: 4rem; }

.mr0 {
  margin-right: 0; }

.mr05r {
  margin-right: 0.5rem; }

.mr1r {
  margin-right: 1rem; }

.mr2r {
  margin-right: 2rem; }

.mr3r {
  margin-right: 3rem; }

.mr4r {
  margin-right: 4rem; }

.mb0 {
  margin-bottom: 0; }

.mb05r {
  margin-bottom: 0.5rem; }

.mb1r {
  margin-bottom: 1rem; }

.mb2r {
  margin-bottom: 2rem; }

.mb3r {
  margin-bottom: 3rem; }

.mb4r {
  margin-bottom: 4rem; }

.fzxs {
  font-size: x-small; }

.fzs {
  font-size: small; }

.fz70p {
  font-size: 70%; }

.fz80p {
  font-size: 80%; }

.fz90p {
  font-size: 90%; }

.fz100p {
  font-size: 100%; }

.fz110p {
  font-size: 110%; }

.fz120p {
  font-size: 120%; }

.fz130p {
  font-size: 130%; }

.fz140p {
  font-size: 140%; }

.w4e {
  width: 4em; }

.w3e {
  width: 3em; }

.w100p {
  width: 100%; }

.cb {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.btn {
  border: none;
  background-color: #E26580;
  border-radius: 4px;
  padding: 16px 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 1;
  vertical-align: top;
  font-size: 110%;
  color: white;
  cursor: pointer; }
  .btn.cancel, .btn[disabled] {
    background-color: #CBCBCB;
    color: #333;
    font-size: small; }
  .btn:hover {
    opacity: .7; }

.error_message {
  color: #B41419; }
  .error_message::before {
    content: "\f071";
    font-family: FontAwesome;
    margin-right: 5px; }

.spin {
  width: 40px;
  height: 40px;
  background: url(../img/icon_loading.png) center no-repeat;
  background-size: cover;
  -webkit-animation: spin 1s infinite;
  animation: spin 1s infinite;
  display: inline-block; }

@-webkit-keyframes start_animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes start_animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  font-size: 90%; }

.header_video_container {
  background-color: #111;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc; }

.header_video_container_inner {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .header_video_container_inner > div {
    margin: 0 20px; }

.video_container {
  position: relative; }

#video {
  height: 350px; }

.video_side {
  width: 210px;
  flex-glow: 1; }
  .video_side .singer_video_container {
    position: relative;
    /* bottom: 0;
    left: calc( 50% - 75px ); */ }
    .video_side .singer_video_container .singer_video_raduis {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      left: 0;
      top: 0; }
    .video_side .singer_video_container #singer_video {
      height: 100%;
      -webkit-transform: scale(-1, 1);
              transform: scale(-1, 1); }
    .video_side .singer_video_container #singer_video {
      background-color: #000;
      z-index: 2;
      position: relative; }
  .video_side .video_controls {
    padding: 10px 0 0px;
    /* position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; */ }
    .video_side .video_controls .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
    .video_side .video_controls .circle_btn {
      margin-top: 10px; }

.singer_analyser {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #666;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-animation: amination_analyser 1s infinite linear;
          animation: amination_analyser 1s infinite linear; }

@-webkit-keyframes amination_analyser {
  0% {
    opacity: .2; }
  50% {
    opacity: 1; }
  100% {
    opacity: .2; } }

@keyframes amination_analyser {
  0% {
    opacity: .2; }
  50% {
    opacity: 1; }
  100% {
    opacity: .2; } }
.btn_play_pause {
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  background-color: transparent;
  margin: -33px 0 0 -33px;
  opacity: .6; }
  .btn_play_pause .fa {
    font-size: 66px;
    color: white; }

#ui_pause_only {
  display: none; }

.playing #ui_pause_only {
  display: block; }
.playing #ui_play_only {
  display: none; }

.song_title {
  padding: 0 2em;
  font-weight: bold;
  color: #fff;
  width: 200px; }
  .song_title::before {
    content: "楽曲名: "; }

#ui_vo_mute span {
  background-color: #da3a5d;
  width: 45px;
  height: 45px;
  font-size: 20px; }
#ui_vo_mute small::after {
  content: "ボーカルをミュート";
  font-size: 80%; }

.muted_vo #ui_vo_mute span {
  background-color: #666; }
  .muted_vo #ui_vo_mute span::after {
    content: "";
    width: 45px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    display: block;
    background-color: #fff;
    position: absolute; }
.muted_vo #ui_vo_mute small::after {
  content: "ボーカルも再生"; }

.circle_btn {
  outline: none;
  padding: 0;
  background-color: transparent;
  border: none;
  text-align: center;
  color: #DD271A;
  text-align: center;
  cursor: pointer;
  /* position: absolute;
  top: -47px;
  left: calc(50% - 4em); */
  display: block;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .circle_btn span {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #DD271A;
    font-size: 25px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .circle_btn small {
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    line-height: 1;
    color: #fff;
    font-weight: bold; }
  .circle_btn:hover {
    -webkit-transform: scale(1.06);
            transform: scale(1.06); }

.btn_vo_mute_inner {
  vertical-align: top;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  border: 2px solid #fff;
  border-radius: 16px;
  padding: .2rem 1.2rem;
  color: #fff; }
  .btn_vo_mute_inner input {
    margin-right: 5px;
    position: relative;
    top: -2px; }
  .btn_vo_mute_inner .fa {
    font-size: 18px;
    margin-right: 5px;
    position: relative;
    top: 2px; }

.rec_status_text {
  font-size: 70%;
  -webkit-transform: scale(1);
          transform: scale(1);
  color: red;
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 0;
  text-align: center;
  width: 150px;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;
  -webkit-animation: switchtext 2s infinite;
          animation: switchtext 2s infinite;
  display: none; }
  .rec_status_text span {
    border: 2px solid red;
    padding: 4px 7px;
    background-color: rgba(0, 0, 0, 0.8); }
  .rec_status_text i {
    margin-right: 4px;
    font-style: normal; }

@-webkit-keyframes switchtext {
  0% {
    opacity: 1.0; }
  79% {
    opacity: 1.0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes switchtext {
  0% {
    opacity: 1.0; }
  79% {
    opacity: 1.0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
#ui_rec_stop {
  /*opacity: 0;
  width: 0;
  height: 0;
  transform: scale(0); */
  display: none; }

.recording #ui_rec_stop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* opacity: 1;
  width: auto;
  height: auto;
  transform: scale(1); */ }
.recording #ui_rec_start {
  display: none;
  /* opacity: 0;
  width: 0;
  height: 0;
  transform: scale(0); */ }
.recording .rec_status_text {
  display: block; }
.recording .singer_analyser {
  background-color: #f00; }

.overlay_playback {
  position: fixed;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0;
  z-index: -1; }
  .overlay_playback .overlay_playback_inner {
    width: 60%; }
  .overlay_playback #confirm_playBackVideo {
    width: 400px;
    border-radius: 4px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    overflow: hidden; }
  .overlay_playback .post_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .overlay_playback .post_container .btn {
      margin: 0 .5rem; }
  .overlay_playback #post_message {
    width: 400px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: bottom;
    margin-bottom: 1rem; }

.playbacking .overlay_playback {
  opacity: 1;
  z-index: 3; }

/*
content
--------------------------------------------
*/
.content {
  /* color: #312012;
  border-radius: 4px;
  background-color: #FFF6EC;
  padding: 1rem 2rem;
  font-size: 80%; */
  margin-bottom: 1rem; }

main .main_tit {
  margin: 0 0 1rem;
  font-size: 200%;
  text-align: center; }
  main .main_tit small {
    display: block;
    font-size: 80%; }
main > section {
  margin: 1rem 0 0; }
  main > section h2 {
    margin-top: 0;
    text-align: center; }

.member .from_member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 0.2rem; }
.member figure {
  margin: 0;
  text-align: center;
  width: 100px; }
  .member figure img {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .member figure figcaption {
    font-size: x-small;
    text-align: center; }
.member .members_voice {
  color: #312012;
  border-radius: 4px;
  background-color: #efefef;
  padding: .8rem 1.4rem; }

footer {
  padding: 2rem 0; }

@media screen and (max-width: 480px) {
  .header_video_container {
    background-color: transparent; }

  .header_video_container_inner {
    height: 180px;
    overflow: visible; }

  .video_controls {
    /* bottom: initial;
    top: 0;
    left: 0; */ }
    .video_controls .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }

  .singer_video_container {
    top: initial;
    right: initial;
    bottom: -50px;
    left: calc(50% - 50px); }
    .singer_video_container #singer_video, .singer_video_container .singer_analyser {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #000;
      z-index: 2;
      position: relative; }
    .singer_video_container .singer_analyser {
      position: absolute;
      background-color: #f00;
      top: 0;
      left: 0;
      z-index: 1;
      -webkit-animation: amination_analyser 1s infinite linear;
              animation: amination_analyser 1s infinite linear; }

  .rec_btn {
    top: 20px;
    left: initial;
    right: 10px; }
    .rec_btn small {
      display: none; }

  .container {
    width: 100%; }

  main > section {
    padding: 1rem 0; }
    main > section.greeting {
      padding-top: 3rem; }
    main > section .container {
      padding: 0 1rem; }
      main > section .container h2 {
        margin-top: 0; }
      main > section .container.member .from_member {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
        main > section .container.member .from_member figure {
          width: 80px; }
        main > section .container.member .from_member .members_voice {
          width: calc(100% - 80px); }

  .song_title {
    padding: 0;
    font-size: x-small; }

  .btn_vo_mute {
    width: 100px; }
    .btn_vo_mute .btn_vo_mute_inner {
      margin-top: 5px;
      text-align: center;
      padding: 5px;
      border-radius: 2px;
      border: none;
      background-color: #E26580;
      line-height: 1; }
      .btn_vo_mute .btn_vo_mute_inner input {
        margin: 0; }
      .btn_vo_mute .btn_vo_mute_inner span {
        display: block; }
    .btn_vo_mute .fa {
      display: none; }

  footer {
    padding: 1rem; } }

/*# sourceMappingURL=singer.css.map */